{%- capture background_image_style -%}
{%
  include 'rimg',
  class: 'article-card__image',
  img: article.image,
  size: '700x700',
  lazy: true,
  background: true
%}
{%- endcapture -%}

<article class="article-card__container {% if forloop.first == true  %}first-article{% endif %}" >
  {% if article.image %}
    <a href="{{ article.url }}" class="article-card__img-wrapper" {{ background_image_style }}>
    </a>
  {% endif %}

  <h2 class="article-card__title">
    <a href="{{ article.url }}">
      {{ article.title }}
    </a>
  </h2>

  <div class="article-card__excerpt rte">
    {{ article.excerpt_or_content | truncatewords : 30  }}
  </div>

  <a class="article-card__read-more" href="{{ article.url }}">
    {{ 'blogs.article_item.read_more' | t }}
  </a>
</article>
