<style>
  .post{
   	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
</style>

{% assign blog_index = false %}
{% if template.name == 'blog' %}
  {% assign blog_index = true %}
{% endif %}

<article class="post">
  <header class="post-title">
    <h1>
      {% if blog_index %}<a href="{{ article.url }}">{% endif %}
        {{ article.title }}
      {% if blog_index %}</a>{% endif %}
    </h1>
  </header>
  {% comment %}
  <div class="post-subtitle post-meta">
    <span>{{ article.published_at | date: format: 'short_month' }}</span>
      <span>{{ 'blogs.article_item.posted_by' | t }}: {{ article.author }}</span>
    {% if article.tags.size > 0 %}
      <span>
        {% for tag in article.tags %}
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="post-tags">{{ tag }}</a>{% unless forloop.last %},&nbsp;{% endunless %}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  {% endcomment %}

  <span class="post-article-date">{{ article.published_at | date: format: 'short_month' }}</span>
  <div class="post-image-container"
    {%
      include 'rimg',
      class: 'post-image',
      img: article.image,
      size: '700x700',
      lazy: true,
      background: true
    %}>
  </div>

  <div class="post-content rte">
    {% if blog_index %}
      {{ article.excerpt_or_content }}
    {% else %}
      <p class="post-article__paragraph">While discovering you're ready for a Shower remodel is exciting, doing a shower remodel for the first time can be overwhelming. There’s so much to consider like what’s your timeline and budget? What bathroom products should you get? What kind of bathroom style ideas suit you best? With supply chains being unpredictable, preparing now for your next bathroom shower remodel will not only help you plan around any expected delays, but also make sure that your shower remodel process is as seamless as it can be. We’ve highlighted all the things you should consider when preparing for your shower remodel project.</p>
      <h2 class="post-article__header">Decide Why You Want To Do A Bathroom Shower Remodel</h2>
      <p class="post-article__quote">One of the most important things to consider when planning your shower remodel is determining why you are doing a bathroom shower remodel in the first place.</p>
      <p class="post-article__paragraph">While discovering you're ready for a Shower remodel is exciting, doing a shower remodel for the first time can be overwhelming. There’s so much to consider like what’s your timeline and budget? What bathroom products should you get? What kind of bathroom style ideas suit you best? With supply chains being unpredictable, preparing now for your next bathroom shower remodel will not only help you plan around any expected delays, but also make sure that your shower remodel process is as seamless as it can be. We’ve highlighted all the things you should consider when preparing for your shower remodel project.</p>
      <div class="post-article__img"></div>
      <ol class="post-article__list">
        <li>When planning your shower remodel is determining</li>
        <li>plan around any expected delays, but also make sure that your shower remodel process is as seamless as it can.</li>
        <li>When planning your shower remodel is determining</li>
      </ol>
      <p class="post-article__paragraph">While discovering you're ready for a Shower remodel is exciting, doing a shower remodel for the first time can be overwhelming. There’s so much to consider like what’s your timeline and budget? What bathroom products should you get? What kind of bathroom style ideas suit you best? With supply chains being unpredictable, preparing now for your next bathroom shower remodel will not only help you plan around any expected delays, but also make sure that your shower remodel process is as seamless as it can be. We’ve highlighted all the things you should consider when preparing for your shower remodel project.</p>
    <span>=====================</span>
      {{ article.content }}

    {% endif %}
  </div>

  {% if blog_index %}
    <footer class="post-meta">
      <a class="button post-button" href="{{ article.url }}">
        {{ 'blogs.article_item.read_more' | t }}
        <span class="icon icon-arrow-right"></span>
      </a>
    </footer>
  {% endif %}
</article>
