<div id="become-a-pro" class="background__black padding-top-4 padding-bottom-6-desktop" style="position:relative">
  <div class="blackwave"></div>
<div class="b2b__inner-ctn padding-top-4">
  <div class="howitworks__img-ctn-1">
    <div class="b2b__img" style="background-image: url({{ 'bathroom-pro.png' | asset_url }})">
    </div>
  </div>
  <div class="b2bpro__ctn-inner">
    <h3 class="mainheading_white-thin-large align-left-mobile">{{ section.settings.header }}</h3>
    <p class="subheading__white-thin">
      {{ section.settings.paragraph_one }}
    </p>
    <p class="body__white-thin">
      {{ section.settings.paragraph_two }}
    </p>
    <p class="body__white-thin">
      {{ section.settings.paragraph_three }}
    </p>
    <p class="body__white-thin">
      {{ section.settings.paragraph_four }}
    </p>
     <a href="{{ section.settings.link }}" class="greenbutton-black">{{ section.settings.link_label }}</a>
  </div>
</div>

</div>

{% schema %}
  {
    "name": "Why Become A Bathroom Pro",
    "settings": [
	  {
        "id": "header",
		"type": "text",
		"label": "Title"
      },
	  {
        "id": "paragraph_one",
		"type": "textarea",
		"label": "Paragraph One"
      },
	  {
        "id": "paragraph_two",
		"type": "textarea",
		"label": "Paragraph Two"
      },
	  {
        "id": "paragraph_three",
		"type": "textarea",
		"label": "Paragraph Three"
      },
	  {
        "id": "paragraph_four",
		"type": "textarea",
		"label": "Paragraph Four"
      },
      {
        "id": "link",
        "type": "url",
        "label": "Link"
      },
      {
        "id": "link_label",
        "type": "text",
        "label": "link label"
      },
	  {
        "id": "image",
		"type": "image_picker",
		"label": "Image"
      }
	],
    "presets": [
      {
      "name": "Why Become A Bathroom Pro"
      }
    ]
  }
{% endschema %}

