{% style %}
.dimension-details {
  padding-top:1rem;
  background: #F4F2F1;
}
.dimension-details__header {
  font-size: 24px;
  text-align: center;
}
.dimensions-details__container {
  max-width: 375px;
  margin: 0 auto;
}
.dimensions-details__img-ctn {
  height: 200px;
}
.dimensions-details__accordian-ctn {
  margin: 20px 10px 0;
  margin-top:1rem;
}
.accordion__title {
  position: relative;
  padding-bottom: 0.75rem;
}
.accordion__title:not(:first-of-type) {
  margin-top: 10px;
  z-index:1;
}
.accordion__title:hover {
  cursor: pointer;
}
.accordion__title > h3 {
  font-size: 18px !important;
  font-weight: 500;
  text-align: left !important;
  z-index: 10;
  position: relative;
}
div.hide > p {
  font-size: 16px;
  padding: 10px 0 20px;
}
@media screen and (min-width: 768px) {
  .dimensions-details__container {
    max-width: 700px;
	display: flex;
	flex-direction: row;
    margin: 40px auto 0;
  }
  .dimensions-details__img-ctn {
    height: 300px;
  }
  .dimensions-details__img-ctn,
  .dimensions-details__accordian-ctn {
    width: 50%;
  }
  .dimensions-details__accordian-ctn {
    margin: 0 0 0 40px;
	margin-top:1rem;
  }
  .dimensions-details__img-ctn {
    height: 430px;
  }
}
.dimensions-details__img-ctn{
border-radius:8px;
margin-top:1rem;
}
@media screen and (min-width: 1024px) {
  .dimensions-details__container {
    max-width: 900px;
  }
  .accordion__title:not(:first-of-type) {
    margin-top: 20px;
  }
}
.accordion__title:before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0;
  right: 0;
  background-image: url({{ 'accordion-arrow.svg' | asset_url }});
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  transform: rotate(180deg);
  transition: 0.5s;
}
.active.accordion__title:before {
  transform: rotate(0);
}
.textarea-styles ul {
  list-style: unset;
  
}
.textarea-styles ul {
  margin: 10px 0 10px 20px;
}
.dimensions-details__img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
{% endstyle %}

{%- capture background_image_style -%}
{%
  include 'rimg',
  background: true,
  img: section.settings.image,
  size: image_size,
  lazy: true
%}
{%- endcapture -%}

<div style="position:relative;width:100%;height:10px"></div>
  <div class="product-blob"></div>
<h2 class="dimension-details__header">{{ section.settings.header }}</h2>
<div class="dimensions-details__container">
  <div class="dimensions-details__img-ctn">
    <div class="dimensions-details__img" {{background_image_style}} ></div>
  </div>
  <div class="dimensions-details__accordian-ctn">
    <div id="accordion">
      {% for block in section.blocks %}
        <div class="accordion__title"><h3>{{ block.settings.title }}</h3></div>
        <div class="hide textarea-styles">
          {{ block.settings.content }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Dimensions and Details",
    "tag": "section",
	"class": "dimension-details",
	"blocks": [
	  {
      "type": "text",
      "name": "Accordian block",
      "settings": 
	    [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }
        ]
      }
	],
    "settings": [
	  {
		"type": "text",
		"id": "header",
		"label": "Header"
	  },
	  {
		"type": "image_picker",
		"id": "image",
		"label": "Image"
	  }
	]
  }
{% endschema %}
