<style>
.black-wave {
  background-image: url({{ 'black_wave.svg' | asset_url }});
  width: 100%;
  height: 119px;
  position: absolute;
  top: -72px;
  background-repeat: no-repeat;
  background-size: cover;
}
  
@media screen and (min-width: 1440px){
 .black-wave{
  top: -119px;
    }}
  
.dynamic-faq {
  background-color: #121211;
  position:relative;
}
  
@media screen and (min-width: 490px) {
  .dynamic-faq {
  }
}
.dynamic-faq__question {
  font-size: 20px;
  margin: 20px 0;
  color: #F7EDE2;
  text-transform: capitalize;
}
.dynamic-faq__question.active {
  font-weight: 500;
  position: relative;
  width: fit-content;
}
.dynamic-faq__question:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: #fff;
  transition: 0.3s;
}
.dynamic-faq__question.active:after {
  width: 100%;
}
.dynamic-faq__answer >  * {
  font-size: 14px;
  color: #F7EDE2;
}
.dynamic-faq__question:hover {
  cursor: pointer;
}
.faq__title {
  font-size: 20px !important;
  text-align: left !important;
  color: #F7EDE2;
}
@media screen and (max-width: 1024px){
  .faq__title{
    padding-left:1rem
  }}

@media screen and (max-width: 1024px){
  .faq__sub-title{
    padding-left:1rem
  }}
.faq__sub-title {
  font-size: 18px !important;
  text-align: left !important;
  margin-bottom: 10px;
  font-weight: 300;
  display: block;
  color: #F7EDE2;
}
.faq__content {
  margin: 20px 1rem 40px;
}
.faq-contact {
  padding: 0 1rem 60px;
}
.faq-contact-input > input {
  background: transparent;
}
.faq-contact-input.second > input,
.faq-contact-input.last > input {
  margin-top: 10px;
}
.faq-contact-input.last > input {
  padding: 0 15px;
  height: 50px;
  width: 100%;
  border-radius: 6px;
  background-color: #09C6C6;
  text-align: left;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  #faq-questions {
    column-count: 2;
  }
  .dynamic-faq__question {
    margin: 0 0 20px 0;
  }
  .dynamic-faq__question:not(:first-of-type) {
    margin: 20px 0;
  }
  .faq-contact-input.second > input,
  .faq-contact-input.last > input {
    margin-top: 0;
  }
  .faq-contact-input.first {
    width: 55%;
  }
  .faq-contact-input.second {
    width: 25%;
  }
  .faq-contact-input.last {
    width: 15%;
  }
  .faq-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .faq-contact {
    padding: 0 0 60px;
  }
}
@media screen and (min-width: 1024px) {
  .dynamic-faq {
    padding: 0;
  }
  .dynamic-faq > div:not(:nth-of-type(1)) {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem 60px;
  }
  .faq__content {
    display: flex;
	flex-direction: row;
  }
  #faq-questions {
    width: 25%;
  }
  .faq__answers {
    width: 75%;
    border: none;
  }
  #faq-questions {
    column-count: 1;
  }
  .faq__answers {
    margin-top: 23px;
  }
}
  .faq__answers .faq__title,
  .faq__answers .faq__sub-title {
    padding: 0 !important;
  }
  .custom-success-msg-form {
    background-color: transparent;
    color: green;
    padding-top: 20px;
  }
  .zoho-faq-form {
    padding-bottom: 40px;
  }
  @media screen and (max-width: 767px) {
    .zoho-faq-form {
      margin: 0  1rem;
    }
  }
  .zoho-faq-form label {
    display: block;
    text-align: left;
    margin-top: 15px;
    font-weight: 500;
    color: #F7EDE2;
  }
  .zoho-faq-form__name-container {
    display: flex;
    flex-direction: column;
  }
  .zoho-faq-form button {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 6px;
    background: #09c6c6;
    border: 2px solid #2a2725;
  }
  .zoho-faq-form button em {
    font-style: normal;
  }
  @media screen and (min-width: 900px) {
    .zoho-faq-form__name-container {
      flex-direction: row;
      justify-content: space-between;
    }
    .zoho-faq-form__name-container > div {
      width: 33%;
    }
  }
  .dynamic-faq__answer-header {
    font-weight: 500;
  }
  .dynamic-faq__answer-body p {
    padding: 5px 0;
  }
  .dynamic-faq__answer-body p:nth-of-type(2) {
    margin-bottom: 20px;
  }
</style>


<div class="black-wave"></div>
<div>
  <h2 class="faq__title" style="padding-top: 40px;">Frequently Asked Questions</h2>
  <span class="faq__sub-title">Pick a question below.</span>
</div>
<div class="faq__content">
  <ul id="faq-questions">
    <!-- {% for block in section.blocks %}
      <li class="dynamic-faq__question" data-id="{{ block.id }}">{{ block.settings.question }}</li>
    {% endfor %} -->
    {% assign categories = "using the shower,hygiene,purchase,installation,pro's and distribution,maintenance,delivery" | split: ',' %}
    {% for category in categories %}
      <li class="dynamic-faq__question {% if forloop.first == true %}active{% endif %}" data-id="{{ category | replace: " ", "_" }}">{{ category }}</li>
    {% endfor %}
  </ul>
  <div class="faq__answers">
    <h3 class="faq__title">Answer</h3>
    <span class="faq__sub-title">Your answer will appear below.</span>
    <div id="faq-answers">
      <div class="dynamic-faq__answer" data-id="hygiene" style="display: block !important;">
        {% for block in section.blocks %}
          {% if block.settings.faq_category == "hygiene" %}
            <p class="dynamic-faq__answer-header">
              {{ block.settings.question  }}
            </p>
            <div class="dynamic-faq__answer-body">
              {{ block.settings.answer  }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="dynamic-faq__answer" data-id="maintenence">
        {% for block in section.blocks %}
          {% if block.settings.faq_category == "maintenence" %}
            <p class="dynamic-faq__answer-header">
              {{ block.settings.question  }}
            </p>
            <div class="dynamic-faq__answer-body">
              {{ block.settings.answer  }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="dynamic-faq__answer" data-id="using_the_shower">
        {% for block in section.blocks %}
          {% if block.settings.faq_category == "using_the_shower" %}
            <p class="dynamic-faq__answer-header">
              {{ block.settings.question  }}
            </p>
            <div class="dynamic-faq__answer-body">
              {{ block.settings.answer  }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="dynamic-faq__answer" data-id="technology">
        {% for block in section.blocks %}
          {% if block.settings.faq_category == "technology" %}
            <p class="dynamic-faq__answer-header">
              {{ block.settings.question  }}
            </p>
            <div class="dynamic-faq__answer-body">
              {{ block.settings.answer  }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="dynamic-faq__answer" data-id="installation">
        {% for block in section.blocks %}
          {% if block.settings.faq_category == "installation" %}
            <p class="dynamic-faq__answer-header">
              {{ block.settings.question  }}
            </p>
            <div class="dynamic-faq__answer-body">
              {{ block.settings.answer  }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="dynamic-faq__answer" data-id="support">
        {% for block in section.blocks %}
          {% if block.settings.faq_category == "support" %}
            <p class="dynamic-faq__answer-header">
              {{ block.settings.question  }}
            </p>
            <div class="dynamic-faq__answer-body">
              {{ block.settings.answer  }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="faq_ctn">
  <span class="faq__sub-title">Submit your own question below.</span>
  <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
  <form class="zoho-faq-form" action='https://forms.zohopublic.com/pledgeresourcemanagersincdbara/form/FAQ/formperma/CIgdtCFT9j_r1eeYsfaNDTwVUTLmppDMJnq55XC5shI/htmlRecords/submit' name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
    <input type="hidden" name="zf_referrer_name" value=""><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
    <input type="hidden" name="zf_redirect_url" value=""><!-- To redirect to a specific page after record submission , place the respective url within the " " in the above hidden input field -->
    <input type="hidden" name="zc_gad" value=""><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
    <div class="zoho-faq-form__name-container">
      <div>
        <!--Name-->
        <label>First<em>*</em></label>
        <input type="text" maxlength="255" name="Name_First" fieldType=7 placeholder="" />
      </div>
      <div>
        <label>Last<em>*</em></label>
        <input type="text" maxlength="255" name="Name_Last" fieldType=7 placeholder="" />
      </div>
      <div>
        <!--Email-->
        <label> Email 
          <em>*</em>
        </label>
        <input type="text" maxlength="255" name="Email" value="" fieldType=9 placeholder="" />
      </div>
    </div>
    <!--Multi Line-->
    <label> Question
      <em>*</em>
    </label>
    <textarea name="MultiLine" maxlength="65535" placeholder="What&#x27;s your question&#x3f;" ></textarea>
    <button type="submit"><em>Submit</em></button></form>
</div>

{% schema %}
  {
    "name": "FAQ Dynamic",
	"tag": "section",
	"class": "dynamic-faq",
	"blocks": [
	  {
      "type": "text",
      "name": "Questions",
      "settings":
	    [
          {
            "type": "text",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer"
          },
          {
            "type": "select",
            "id": "faq_category",
            "label": "Category",
            "options": [
              {
                "value": "hygiene",
                "label": "Hygiene"
              },
              {
                "value": "maintenence",
                "label": "Maintenence"
              },
              {
                "value": "using_the_shower",
                "label": "Using the Shower"
              },
              {
                "value": "technology",
                "label": "Technology"
              },
              {
                "value": "installation",
                "label": "Installation"
              },
              {
                "value": "support",
                "label": "Support"
              }
            ],
            "default": "hygiene"
          }
        ]
      }
	],
    "settings": []
  }
{% endschema %}

