<style>
  .footer__ctn-inner {
    width: 375px;
  }
  .footer__img {
    width: 200px;
    margin: 0 auto;
  }
  .footer__img-ctn {
    display: flex;
    order: 3;
    justify-content:center;
    align-items:center;
  }
  .footer__menu-lists {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content:center;
  }
  .footer__list {
    color: #fff;
    font-size: 17px;
    margin: 0;
    margin-right:2rem;
    display:flex;
    flex-direction:column;
  }
  .footer__list li a:hover {
    color: #02827B;
  }
  .footer__list li a:focus {
    color: #02827B;
  }
  .footer__newsletter {
    order: 2
  }
  .footer__newsletter form {
    margin: 40px 0;
  }
  .footer__newsletter form input {
    border: 2px solid #F7EDE2;
    color: #fff;
  }
  .footer__newsletter form input::placeholder {
    color: #fff;
    font-weight: 500;
    z-index: 1000;
    opacity: 1;
  }
  .footer__newsletter form .newsletter__subscribe {
    background-color: #F7EDE2;
    border: 2px solid #F7EDE2;
  }
  @media screen and (min-width: 900px) {
    .footer__ctn-inner {
      width: 100%;
/*       max-width: 1100px; */
    }
    .footer__img-ctn {
      order: 1;
      width: 20%;
    }
    .footer__img {
      margin: 0;
      width: 80%;
      padding: 0 20px;
    }
    .footer__menu-lists {
      order: 2;
      width: 40%;
      padding: 0 50px;
    }
    .footer__newsletter {
      order: 3;
      width: 40%;
    }
    .footer__newsletter form {
      margin: 0;
      flex-direction: column;
      padding: 0 40px;
    }
  }
</style>

<footer class="footer__ctn">
  <div class="footer__ctn-inner">
    <div class="footer__img-ctn">
      {% include 'rainstick-media-logos', name: 'rainstick-stack', icon_class: 'footer__img' %}
    </div>
    <div class="footer__menu-lists">
      <ul class="footer__list">
        {% for link in section.settings.footer_menu_1.links %}
          <li class="list-margin-7"><a class="footer-text" href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <ul class="footer__list">
        {% for link in section.settings.footer_menu_2.links %}
          <li class="list-margin-7"><a class="footer-text" href="{% if link.url == '#installation' %}{{ settings.installation_gude }}{% else %}{{ link.url }}{% endif %}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer__newsletter">
      <form class="newsletter__ctn-inner-2" action="{{ section.settings.newsletter_list }}" method="POST">
        <input type="hidden" name="g" value="Ud3is6" />
        <input required class="newsletter__button" type="text" name="first" placeholder="FIRST NAME"/>
        <input required class="newsletter__button" type="text" name="last" placeholder="LAST NAME"/>
        <input required class="newsletter__button" type="email" name="email" placeholder="EMAIL" />
        <button id="gtag-newsletter" type="submit" class="newsletter__button newsletter__subscribe">SUBSCRIBE</button>
     </form>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
	  {
      "id": "installation_guide",
      "type": "text",
      "label": "Installation link"
    },
    {
      "id": "footer_menu_1",
      "type": "link_list",
      "label": "Footer menu 1"
    },
    {
      "id": "footer_menu_2",
      "type": "link_list",
      "label": "Footer menu 2"
    }
	],
    "presets": [
      {
      "name": "Footer"
      }
    ]
  }
{% endschema %}
