<div class="background__beige" style="position:relative;">
  <div class="beige-wave" ></div>
<!--   <div class="howitworks-blob-3"></div> -->
  <h3 class="mainheading_black padding-top-4">{{ section.settings.header }}</h3>
    <div class="aboutus__3-pillars">
      <div class="aboutus__pillar-ctn">
        <h3 class="aboutus__heading-3">{{ section.settings.column_header_one }}</h3>
        <p class="aboutus__pillars-text">
          {{ section.settings.column_content_one }}
        </p>
      </div>
      <div class="aboutus__pillar-ctn">
        <h3 class="aboutus__heading-3">{{ section.settings.column_header_two }}</h3>
        <p class="aboutus__pillars-text">
			{{ section.settings.column_content_two }}
        </p>
      </div>
      <div class="aboutus__pillar-ctn">
        <h3 class="aboutus__heading-3">{{ section.settings.column_header_three }}</h3>
        <p class="aboutus__pillars-text">
          {{ section.settings.column_content_three }}
        </p>
      </div>
    </div> 
</div> 
  
<div class="button__ctn-beige">
  <a href="{{ settings.installation_gude }}" class="button__full-dark-blue">ACCESS THE RAINSTICK INSTALLATION CHECKLIST</a>
</div>

<div class="background__beige padding-top-4 padding-bottom-7">
  <div class="howitworks__ctn-last">
  <div class="howitworks__img-ctn-4">
    <div class="howitworks__img-4" style="background-image: {{ section.settings.bottom_image }}">
    </div>
  </div>
  <div class="howitworks__ctn-inner">
    <h3 class="mainheading_black">{{ section.settings.stages_header }}</h3>
    <p class="howitworks__text-4">
	  {{ section.settings.stages_content }}
    </p>
    <p class="subheading_black-bold">The 3 Stages</p>

    <ol class="howitworks__list">
      <li class="howitworks__list-item">{{ section.settings.list_one }}</li>
      <li class="howitworks__list-item">{{ section.settings.list_two }}</li>
      <li class="howitworks__list-item">{{ section.settings.list_three }}</li>
    </ol>
    <p class="howitworks__text-4">
	  {{ section.settings.stages_content_two }}
    </p>
  </div>
  </div>
</div>

{% schema %}
  {
    "name": "How it works bottom half",
    "settings": [
	  {
        "id": "header",
		"type": "text",
		"label": "Header"
      },
	  {
        "id": "subheader",
		"type": "text",
		"label": "Sub Header"
      },
	  {
        "id": "column_header_one",
		"type": "text",
		"label": "Column 1 header"
      },
	  {
        "id": "column_content_one",
		"type": "textarea",
		"label": "Column 1 content"
      },
	  {
        "id": "column_header_two",
		"type": "text",
		"label": "Column 2 header"
      },
	  {
        "id": "column_content_two",
		"type": "textarea",
		"label": "Column 2 content"
      },
	  {
        "id": "column_header_three",
		"type": "text",
		"label": "Column 3 header"
      },
	  {
        "id": "column_content_three",
		"type": "textarea",
		"label": "Column 3 content"
      },
	  {
        "id": "bottom_image",
		"type": "image_picker",
		"label": "Image"
      },
	  {
        "id": "stages_header",
		"type": "text",
		"label": "Stages header"
      },
	  {
        "id": "stages_content",
		"type": "textarea",
		"label": "Stages content"
      },
	  {
        "id": "list_one",
		"type": "textarea",
		"label": "List item one"
      },
	  {
        "id": "list_two",
		"type": "textarea",
		"label": "List item two"
      },
	  {
        "id": "list_three",
		"type": "textarea",
		"label": "List item three"
      },
	  {
        "id": "stages_content_two",
		"type": "textarea",
		"label": "Stages content two"
      }
	],
    "presets": [
      {
      "name": "How it works bottom half"
      }
    ]
  }
{% endschema %}
