<div class="reinvent-ctn">
  <div>
    <h2>{{ section.settings.header }}</h2>
    <p>{{ section.settings.paragraph }}</p>

    <a class="reinvent-button" href="{{ section.settings.url }}">{{ section.settings.url_label }}</a>

  </div>
  <div>
    <img src="{{ section.settings.image | img_url: '700x700' }}"/>
  </div>
</div>

{% schema %}
  {
    "name": "Text with image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "textarea",
        "id": "paragraph",
        "label": "Paragraph"
      },
      {
        "type": "url",
        "id": "url",
        "label": "URL"
      },
      {
        "type": "text",
        "id": "url_label",
        "label": "Label"
      }
    ],
    "presets": [
      {
      "name": "Text with image"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
