<div class="press-kit__section">
  <h2 class="press-kit__header">Inquiries</h2>
  <p class="press-kit__content">For press inquiries and marketing collaborations, <a href="/pages/contact-us">contact us.</a></p>
</div>
<div class="press-kit__section">
  <h2 class="press-kit__header">Featured In</h2>
  <div class="press-kit__logo-container">
    <div class="press-kit__logo-item">
      <img src="{{ section.settings.logo_one | img_url: '300x300' }}" />
<!--       <p class="press-kit__media-text">Canadian Clean Technology Company, RainStick Releases Limited Run of RainStick Shower’s</p> -->
    </div>
    <div class="press-kit__logo-item">
      <img src="{{ section.settings.logo_two | img_url: '300x300' }}" />
<!--       <p class="press-kit__media-text">Canadian Clean Technology Company, RainStick Releases Limited Run of RainStick Shower’s</p> -->
    </div>
    <div class="press-kit__logo-item">
      <img src="{{ section.settings.logo_three | img_url: '300x300' }}" />
<!--       <p class="press-kit__media-text">Canadian Clean Technology Company, RainStick Releases Limited Run of RainStick Shower’s</p> -->
    </div>
  </div>
</div>
<div class="press-kit__section">
  <h2 class="press-kit__header">Recent Press</h2>
  <div class="press-kit__article-container">
    {% for article in section.settings.blog.articles %}
      <div class="press-kit__article-item">
        <h3 class="press-kit__press-title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
        <p class="press-kit__press-excerpt">{{ article.excerpt | truncatewords: 20 }}</p>
        <a class="press-kit__link" href="{{ article.url }}">READ MORE</a>
      </div>
    {% endfor %}
  </div>
</div>
<div class="press-kit__section">
  <h2 class="press-kit__header">Logos</h2>
  <div class="press-kit__logos-container">
    {% for block in section.blocks %}
      <div class="press-kit__logo-block">
        <img src="{{ block.settings.image | img_url }}"/>
      </div>
    {% endfor %}
  </div>
  <a class="press-kit__logo-download" href="{{ section.settings.logo_package }}">DOWNLOAD LOGO PACKAGE</a>
</div>
{% comment %}
<div class="press-kit__section">
  <h2 class="press-kit__header">Media</h2>
  <div class="press-kit__logos-container">
    {% for block in section.blocks %}
    	<div class="press-kit__logo-block">
    		<img src="{{ block.settings.image }}"/>
    	</div>
    {% endfor %}
  </div>
  <a class="press-kit__logo-download" href="{{ section.settings.media_package }}">DOWNLOAD LOGO PACKAGE</a>
</div>
{% endcomment %}

{% schema %}
{
  "name": "Press kit",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Press Blog"
    },
    {
      "type": "textarea",
      "id": "logo_package",
      "label": "Logo package",
      "info": "Upload guide to files then paste url into here"
    },
    {
      "id": "logo_one",
      "type": "image_picker",
      "label": "Logo one"
    },
    {
      "id": "logo_two",
      "type": "image_picker",
      "label": "Logo two"
    },
    {
      "id": "logo_three",
      "type": "image_picker",
      "label": "Logo three"
    }
  ],
  "blocks": [
    {
    "type": "image",
	"name": "Logo",
    "settings": 
      [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo"
        }
      ]
    }
  ]
}
{% endschema %}
