<div class="module-wrapper">
  <div class="module blog">
    <form class="blog-search" action="/search" method="get" role="search">
      <input type="hidden" name="type" value="article" />
      <div class="blog-search__bar">
        <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="search" aria-label="search">
        <button type="submit" >
          <span >{% include 'search' %}</span>
        </button>
      </div>
    </form>
    <div class="module-header blog-header" style="padding: 50px 0 0">
      {% comment %}
      <div class="module-title blog-title">
        <h1>
          {% if current_tags %}<a href="{{ blog.url }}">{% endif %}
            {{ "blogs.blog.title" | t: title:blog.title }}
          {% if current_tags %}</a>{% endif %}
          <!-- <a class="blog-rss" href="{{ blog.url }}.atom">&#xea9c</a> -->
        </h1>
      </div>
      {% endcomment %}
      {% if linklists.blogs.links.size > 0 %}
      <div class="blog-menu">
        {% for link in linklists.blogs.links %}
        <a
          class="button outline blog-subtitle-button {% if link.url == blog.url %}active{% endif %}"
          href="{{ link.url }}"
        >
          {{ link.title }}
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="module-body">
      {% if blog.tags.size > 0 %}
        <div class="blog-tags-wrapper">
          <!-- <span>{{ "blogs.blog.filter_by_tag" | t }}:</span> -->
          <div class="blog-tags-list">
            {% for tag in blog.all_tags %}
              <span class="blog-tags-list-item {% if current_tags.first == tag %}current{% endif %}">{{ tag | link_to_tag: tag }}</span>
            {% endfor %}
            <span class="blog-tags-list-item">{{ 'All' | link_to: blog.url }}</span>
          </div>
        </div>
      {% endif %}

      <div class="post-wrapper blogs">
        {% for article in blog.articles %}
          {% include 'article-card' %}
        {% else %}
          <div class="empty">
            <p>{{ "blogs.blog.empty" | t }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
